@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Home Recipes</a>
            <button class="btn btn-secondary my-2 my-sm-0"
                    data-bs-toggle="modal" data-bs-target="#addRecipeModal">
                Add Recipe
            </button>

            <button class="btn btn-secondary my-2 my-sm-0"
                    data-bs-toggle="modal" data-bs-target="#addCategoryModal">
                Add Category
            </button>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-black">
            <h1 class="mb-3">Recipes</h1>
        </div>
    </div>
    <div>
        <div class="row row-cols-md-4 "
             x-data="
             {
             recipes: [],
             init() {
             fetch('https://localhost:7182/recipes')
             .then(response=>
            response.json())
            .then(data =>
            {
            data.forEach(recipe =>
            {
            recipe.ingredients = recipe.ingredients.split('\n');
            recipe.instructions = recipe.instructions.split('\n');
            });
            this.recipes = data;
            });
            }
            }">
            <template x-for="recipe in recipes">
                <div class="col">
                    <div class="card" style="">
                        <div class="card text-dark bg-light mb-3" x-bind:id="`heading_${recipe.id}`">
                            <div class="card-header">
                                <div class="d-grid">
                                    <button class="btn btn-outline-secondary btn-lg" data-bs-toggle="collapse"
                                            x-bind:data-bs-target="`#collapse_${recipe.id}`"
                                            aria-expanded="false"
                                            x-bind:aria-controls="`collapse_${recipe.id}`">
                                        <span x-text="recipe.title"></span>
                                    </button>

                                </div>
                            </div>
                            <footer>
                                <template x-for="category in recipe.categories">
                                    <span style="font-size:12px" class="badge rounded-pill bg-secondary" x-text="category"></span>
                                </template>
                            </footer>
                        </div>

                        <div x-bind:id="`collapse_${recipe.id}`" class="collapse"
                             x-bind:aria-labelledby="`heading_${recipe.id}`"
                             data-bs-parent="#accordion">

                            <div class="list-group">
                                <div class="card-body text-dark list-group-item">
                                    <h5 class="card-title">Instructions</h5>
                                    <ol class="list-group list-group-numbered">
                                        <template x-for="instruction in recipe.instructions">
                                            <li class="list-group-item" x-text="instruction"></li>
                                        </template>
                                    </ol>
                                </div>

                                <div class="card-body text-dark list-group-item">
                                    <h5 class="card-title">Ingredients</h5>
                                    <ol class="list-group">
                                        <template x-for="ingredient in recipe.ingredients">
                                            <ui class="list-group-item"><span x-text="ingredient"></span></ui>
                                        </template>
                                    </ol>
                                </div>
                                <button type="button" class="btn btn btn-secondary">Edit</button>
                                <button type="button" class="btn btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>

    @*Modal for Add Recipe*@
    <div class="modal fade" id="addRecipeModal" tabindex="-1" aria-labelledby="addRecipeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Recipe</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div x-data="
                         {
                         allCategories:[],
                         recipe:{Title:'',Ingredients:'',Instructions:'',Categories:[]},
                         init() {
                         fetch('https://localhost:7182/categories')
                         .then(response=>
                        response.json()
                        .then(data=>this.allCategories = data))
                        }
                        }">
                        <form id="addRecipe-form"
                              x-on:submit="
                              fetch('https://localhost:7182/recipes', {
                              method: 'POST' ,
                              headers: {
                              'Content-Type' : 'application/json' ,
                              },
                              body: JSON.stringify(recipe),
                              })
                              .then(response=>
                            response.json())
                            .then(data => {
                            console.log('Success:', data);
                            })
                            .catch((error) => {
                            console.error('Error:', error);
                            });
                            ">
                            <div class="form-floating mb-3">
                                <input x-model="recipe.Title" type="text" class="form-control" id="title-text" placeholder="Scrambled Eggs">
                                <label for="title-text" class="col-form-label">Title</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea x-model="recipe.Ingredients"
                                          class="form-control" id="ingredients-text" minlength="5"></textarea>
                                <label for="ingredients-text" class="col-form-label">Ingredients</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea x-model="recipe.Instructions"
                                          class="form-control" id="Instructions-text" minlength="5"></textarea>
                                <label for="instructions-text" class="col-form-label">Instructions</label>
                            </div>
                            <div>
                                <label class="col-form-label">Categories</label>
                                <select x-model="recipe.Categories" id="categoriesSelect"
                                        class="form-select" multiple aria-label="multiple select example">
                                    <template x-for="category in allCategories">
                                        <option x-bind:value="category" x-bind:label="category"></option>
                                    </template>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="addRecipe-form" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>

    @*Modal for Add Category*@
    <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div x-data=" {category:''}">
                        <form id="addCategory-form"
                              x-on:submit.prevent="
                              fetch(`https: //localhost:7182/categories?category =${category}`, {
                              method: 'POST' ,
                              headers: {
                              'Content-Type' : 'application/json' ,
                              }})
                              .then(response=>
                            response.json())
                            .then(data => {
                            console.log('Success:', data);
                            })
                            .catch((error) => {
                            console.error('Error:', error);
                            });
                            ">
                            <div class="mb-3">
                                <label for="category-text" class="col-form-label">Category Name</label>
                                <input x-model="category" type="text" class="form-control" id="category-text">
                            </div>

                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="addCategory-form" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>